<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <a href="/" class="button" style="padding: 8px 16px; font-size: 0.9em;">Back to Home</a>
    <div class="container">
        <header>
            <h1>Data Report</h1>
            <p>Here is the report from the customer shopping database table</p>
        </header>
        <div class="content">
            <table>
                <thead>
                    <tr>
                        {% for column in rows[0].keys() %}
                            <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            {% for value in row.values() %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
